.App{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerDiv{
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  width: 800px;
  padding:30px;
  padding-top: 70px;
  border-radius: 20px;
}